.footer {
  width: 100%;
  max-width: 880px;
  margin: 67px auto 60px;
}

.footer__copyright {
  color: #545454;
  margin: 0;
  font-size: 18px;
  line-height: 21.78px;
}

@media screen and (max-width: 959px) {
  .footer__copyright {
    width: 581px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media screen and (max-width: 660px) {
  .footer__copyright {
    width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 48px auto 38px auto;
  }
}
